@import '~src/assets/style/colors';

@mixin editor-base {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 500;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 16px;
	border: none;
	box-sizing: border-box;
	overflow: auto;
}

:host {
	height: 128px;
	width: 256px;
	border: 1px solid rgba(0, 0, 0, 0.24);
	position: relative;
	display: block;

	::ng-deep {
		.editor__blacklisted {
			color: $red--500;
			text-decoration: line-through;
		}

		.editor__graylisted {
			position: relative;
		}

		.editor__count-marker {
			position: absolute;
			right: -6px;
			bottom: -4px;
		}

		.editor__undefined {
			border-bottom: 1px solid rgba(0, 0, 0, 0.54);
		}
	}
}

.editor {
	@include editor-base;
	background: none;
	color: transparent;
	caret-color: black;
}

.editor-background {
	@include editor-base;
}

.instant-editor-component__processing-label {
	position: absolute;
	bottom: -16px;
	right: 0;
}
